<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Is it Halloween</title>
</head>
<body>
    <h1><%= message %></h1>
    <style>
    body {
        background-color: black;
    }
    h1{
        color: white;
        font-size: 3em;
    }
</style>
</body>


</html>